<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DistritoWSPortBinding" />
                <binding name="UsuarioWSPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/DatmaSoftWebServices/DistritoWS"
                binding="basicHttpBinding" bindingConfiguration="DistritoWSPortBinding"
                contract="DistritoWS.DistritoWS" name="DistritoWSPort" />
            <endpoint address="http://localhost:8080/DatmaSoftWebServices/UsuarioWS"
                binding="basicHttpBinding" bindingConfiguration="UsuarioWSPortBinding"
                contract="UsuarioWS.UsuarioWS" name="UsuarioWSPort" />
        </client>
    </system.serviceModel>
</configuration>